In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import DecimalType

#Initialize a SparkSession
spark = SparkSession.builder.appName("Tomatometer").getOrCreate()

In [2]:
# Read a CSV file
df = spark.read.csv("rotten_tomatoes_movies.csv", header=True, inferSchema=True)

In [3]:
df.show()

+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+----------------+--------------------+--------------------+---------+-----------------+--------+
|                  id|               title|audienceScore|tomatoMeter|rating|      ratingContents|releaseDateTheaters|releaseDateStreaming|runtimeMinutes|               genre|originalLanguage|            director|              writer|boxOffice|      distributor|soundMix|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+----------------+--------------------+--------------------+---------+-----------------+--------+
|  space-zombie-bingo| Space Zombie Bingo!|           50|       NULL|  NULL|                NULL|               NULL|          2018-08-25|            75|Comedy, Horror, S...|         English|       George Ormrod|George Ormrod,Joh...|     NULL|             NULL|    NULL|
|     the_green_grass|     The Green Grass|         NULL|       NULL|  NULL|                NULL|               NULL|          2020-02-11|           114|               Drama|         English|     Tiffany Edwards|     Tiffany Edwards|     NULL|             NULL|    NULL|
|           love_lies|          Love, Lies|           43|       NULL|  NULL|                NULL|               NULL|                NULL|           120|               Drama|          Korean|Park Heung-Sik,He...|Ha Young-Joon,Jeo...|     NULL|             NULL|    NULL|
|the_sore_losers_1997|         Sore Losers|           60|       NULL|  NULL|                NULL|               NULL|          2020-10-23|            90|Action, Mystery &...|         English|John Michael McCa...|John Michael McCa...|     NULL|             NULL|    NULL|
|dinosaur_island_2002|     Dinosaur Island|           70|       NULL|  NULL|                NULL|               NULL|          2017-03-27|            80|Fantasy, Adventur...|         English|       Will Meugniot|            John Loy|     NULL|             NULL|    NULL|
|         adrift_2018|              Adrift|           65|         69| PG-13|['Injury Images',...|         2018-06-01|          2018-08-21|           120|Adventure, Drama,...|         English|   Baltasar Kormákur|Aaron Kandell,Jor...|   $31.4M|        STX Films|    NULL|
|malta-con-huevo-s...|      Scrambled Beer|           55|       NULL|  NULL|                NULL|               NULL|          2015-10-05|            88|              Comedy|         Spanish|Cristobal Valderrama|Cristobal Valderrama|     NULL|             NULL|    NULL|
|    kakabakaba-ka-ba|Kakabakaba ka ba?...|           88|       NULL|  NULL|                NULL|               NULL|                NULL|          NULL|                NULL|            NULL|        Mike de Leon|                NULL|     NULL|             NULL|    NULL|
|          sundowning|          Sundowning|         NULL|       NULL|  NULL|                NULL|               NULL|                NULL|           123|               Drama|         English|      Jim Comas Cole|                NULL|     NULL|             NULL|    NULL|
|1035316-born_to_kill|        Born to Kill|           74|         83|  NULL|                NULL|         1947-04-30|          2016-05-23|            92|        Crime, Drama|         English|         Robert Wise|Eve Greene,Richar...|     NULL|             NULL|    NULL|
|1015331-number_on...|Number One With a...|           19|       NULL|  NULL|                NULL|               NULL|          2012-03-13|           103|        Crime, Drama|         English|         Jack Smight|                NULL|     NULL|             NULL|    NULL|
|  garden_murder_case|The Garden Murder...|         NULL|       NULL|  NULL|                NULL|               NULL|          2016-10-20|            61|  Mystery & thriller|         English|      Edwin L. Marin|                NULL|     NULL|             NULL|    NULL|
|margarita_happy_hour|Margarita Happy Hour|         NULL|         76|  NULL|                NULL|         2002-03-22|                NULL|            98|               Drama|         English|        Ilya Chaiken|        Ilya Chaiken|   $11.5K|Passport Pictures|Surround|
|  leap_of_faith_2019|Leap of Faith: Wi...|           86|         93|  NULL|                NULL|               NULL|          2020-11-19|           104|Documentary, Myst...|         English|Alexandre O. Phil...|Alexandre O. Phil...|     NULL|             NULL|    NULL|
| shake-rattle-roll-3|Shake Rattle & Ro...|           89|       NULL|  NULL|                NULL|               NULL|          2019-01-04|           120|      Comedy, Horror|         Tagalog|Peque Gallaga,Lor...|                NULL|     NULL|             NULL|    NULL|
|           daag_1973|           The Stain|           82|       NULL|  NULL|                NULL|               NULL|          2003-11-25|           146|               Drama|           Hindi|         Yash Chopra|Yash Chopra,Gulsh...|     NULL|             NULL|    NULL|
|crown_vs_stevens_...|   Crown vs. Stevens|           60|       NULL|  NULL|                NULL|               NULL|                NULL|            66|Crime, Drama, Mys...|         English|      Michael Powell|      Brock Williams|     NULL|             NULL|    NULL|
|         1221483-paa|                 Paa|           67|         50|  NULL|                NULL|         2009-12-04|                NULL|           133|               Drama|           Hindi|            R. Balki|            R. Balki|  $199.2K|     Big Pictures|    NULL|
|f9ab9165-598c-3ac...|A Tale of Love an...|         NULL|       NULL|  NULL|                NULL|               NULL|                NULL|           103|               Drama| French (France)|        Leyla Bouzid|        Leyla Bouzid|     NULL|             NULL|    NULL|
|  the_last_gentleman|  The Last Gentleman|         NULL|       NULL|  NULL|                NULL|               NULL|                NULL|            80|              Comedy|         English|     Sidney Lanfield|                NULL|     NULL|             NULL|    NULL|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+----------------+--------------------+--------------------+---------+-----------------+--------+
only showing top 20 rows

In [4]:
#Table Schema
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- audienceScore: integer (nullable = true)
 |-- tomatoMeter: integer (nullable = true)
 |-- rating: string (nullable = true)
 |-- ratingContents: string (nullable = true)
 |-- releaseDateTheaters: date (nullable = true)
 |-- releaseDateStreaming: string (nullable = true)
 |-- runtimeMinutes: integer (nullable = true)
 |-- genre: string (nullable = true)
 |-- originalLanguage: string (nullable = true)
 |-- director: string (nullable = true)
 |-- writer: string (nullable = true)
 |-- boxOffice: string (nullable = true)
 |-- distributor: string (nullable = true)
 |-- soundMix: string (nullable = true)

#### Cleaning:
Missing Values: Check for missing values in the audienceScore, tomatoMeter, and releaseDateTheaters columns. Handle them by removing rows with a null value in either of these columns

In [5]:
#Method 1
df.filter(F.col('audienceScore').isNull()).count()

70010

In [6]:
#Method 2
df.select( [col for col in df.columns if col in ['audienceScore', 'tomatoMeter', 'releaseDateTheaters']] ).show()

+-------------+-----------+-------------------+
|audienceScore|tomatoMeter|releaseDateTheaters|
+-------------+-----------+-------------------+
|           50|       NULL|               NULL|
|         NULL|       NULL|               NULL|
|           43|       NULL|               NULL|
|           60|       NULL|               NULL|
|           70|       NULL|               NULL|
|           65|         69|         2018-06-01|
|           55|       NULL|               NULL|
|           88|       NULL|               NULL|
|         NULL|       NULL|               NULL|
|           74|         83|         1947-04-30|
|           19|       NULL|               NULL|
|         NULL|       NULL|               NULL|
|         NULL|         76|         2002-03-22|
|           86|         93|               NULL|
|           89|       NULL|               NULL|
|           82|       NULL|               NULL|
|           60|       NULL|               NULL|
|           67|         50|         2009-12-04|
|         NULL|       NULL|               NULL|
|         NULL|       NULL|               NULL|
+-------------+-----------+-------------------+
only showing top 20 rows

In [7]:
audience_score_nulls = df.filter(df['audienceScore'].isNull()).count()
print(audience_score_nulls)

70010

In [8]:
df.filter(F.col('tomatoMeter').isNull()).count()

109381

In [9]:
df.filter(F.col('releaseDateTheaters').isNull()).count()

112485

In [10]:
# Remove rows with nulls in particular columns
df.na.drop(subset = ['audienceScore', 'tomatoMeter', 'releaseDateTheaters']).show()

+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+
|                  id|               title|audienceScore|tomatoMeter|rating|      ratingContents|releaseDateTheaters|releaseDateStreaming|runtimeMinutes|               genre|    originalLanguage|            director|              writer|boxOffice|         distributor|            soundMix|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+
|         adrift_2018|              Adrift|           65|         69| PG-13|['Injury Images',...|         2018-06-01|          2018-08-21|           120|Adventure, Drama,...|             English|   Baltasar Kormákur|Aaron Kandell,Jor...|   $31.4M|           STX Films|                NULL|
|1035316-born_to_kill|        Born to Kill|           74|         83|  NULL|                NULL|         1947-04-30|          2016-05-23|            92|        Crime, Drama|             English|         Robert Wise|Eve Greene,Richar...|     NULL|                NULL|                NULL|
|         1221483-paa|                 Paa|           67|         50|  NULL|                NULL|         2009-12-04|                NULL|           133|               Drama|               Hindi|            R. Balki|            R. Balki|  $199.2K|        Big Pictures|                NULL|
|sarah_palin_you_b...|Sarah Palin: You ...|           61|         32|  NULL|                NULL|         2011-09-30|          2017-03-08|            90|         Documentary|             English|Nick Broomfield,J...|                NULL|   $10.5K| Freestyle Releasing|                NULL|
|a_state_of_mind_2005|     A State of Mind|           92|         89|  NULL|                NULL|         2005-08-10|          2007-06-11|            93|         Documentary|              Korean|       Daniel Gordon|                NULL|   $41.5K|       Kino Pictures|                NULL|
|        gun_shy_2017|               Salty|           38|          0|     R|['Some Sexual Con...|         2017-09-08|          2017-11-07|            86|      Comedy, Action|English (United K...|          Simon West|Toby Davies,Mark ...|     NULL|         Saban Films|                NULL|
|         johnny_cool|         Johnny Cool|           44|         50|  NULL|                NULL|         1963-10-02|          2011-06-27|           103|        Crime, Drama|             English|       William Asher|                NULL|     NULL|                NULL|                NULL|
|        race_the_sun|        Race the Sun|           41|         22|  NULL|                NULL|         1996-03-22|          2002-04-30|            99|               Drama|             English| Charles T. Kanganis|                NULL|    $1.7M|                NULL|            Surround|
| paul_blart_mall_cop|Paul Blart: Mall Cop|           43|         34|    PG|['Mild Crude Humo...|         2009-01-16|          2009-05-19|            91|              Comedy|             English|          Steve Carr|Kevin James,Nick ...|  $146.3M|Sony Pictures Ent...|                NULL|
|not_without_my_da...|Not Without My Da...|           71|         53|  NULL|                NULL|         1991-01-11|          2001-10-02|           110|               Drama|             English|       Brian Gilbert|Betty Mahmoody,Wi...|   $14.0M|                NULL|            Surround|
|     monsoon_wedding|     Monsoon Wedding|           87|         95|     R|['Some Sex Relate...|         2002-02-22|          2002-09-24|           100|       Comedy, Drama|             English|           Mira Nair|      Sabrina Dhawan|   $13.9M|           USA Films|Dolby Stereo, Dol...|
|         violet_2017|              Violet|           56|         85|  NULL|                NULL|         2017-05-12|          2018-11-17|            82|               Drama|               Dutch|           Bas Devos|           Bas Devos|     NULL|Ryan Bruce Levey ...|                NULL|
|small_town_wisconsin|Small Town Wisconsin|           88|         83|  NULL|                NULL|         2022-06-03|          2022-06-10|           109|       Comedy, Drama|             English|       Niels Mueller|        Jason Naczek|     NULL| Quiver Distribution|                NULL|
|the_100_year_old_...|The 100-Year-Old ...|           69|         68|     R|['Some Violence',...|         2015-05-01|          2015-08-18|           114|   Comedy, Adventure|             Swedish|      Felix Herngren|Felix Herngren,Ha...|  $923.9K|     Music Box Films|                NULL|
|  rookie_of_the_year|  Rookie of the Year|           52|         38|  NULL|                NULL|         1993-07-07|          2002-01-29|           103|Kids & family, Co...|             English|        Daniel Stern|          Sam Harper|   $53.1M|    20th Century Fox|                NULL|
|       playback_2011|            Playback|           76|          0|     R|['Some Teen Party...|         2012-03-09|          2012-05-08|            98|Horror, Mystery &...|             English|  Michael A. Nickles|  Michael A. Nickles|     $252|   Magnolia Pictures|                NULL|
|the_man_who_kille...|The Man Who Kille...|           60|         66|  NULL|                NULL|         2019-04-10|          2019-04-19|           133|   Comedy, Adventure|             English|       Terry Gilliam|Terry Gilliam,Ton...|  $392.0K|  Screen Media Films| SDDS, Dolby Digital|
|      endless_poetry|      Endless Poetry|           80|         93|  NULL|                NULL|         2017-07-14|          2017-11-19|           128|           Biography|             Spanish|Alejandro Jodorowsky|Alejandro Jodorowsky|   $64.0K|    ABKCO Films Inc.|                NULL|
|   uzumasa_limelight|   Uzumasa Limelight|           88|         91|  NULL|                NULL|         2014-12-05|          2016-08-10|           103|       Drama, Action|            Japanese|          Ken Ochiai|        Hiroyuki Ono|     NULL|         Eleven Arts|                NULL|
|        freeze-frame|        Freeze Frame|           60|         71|     R|['Language', 'Str...|         2004-06-18|          2005-01-18|           100|  Mystery & thriller|             English|        John Simpson|        John Simpson|     NULL|          First Look|Surround, Dolby D...|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+
only showing top 20 rows

In [11]:
cleaned_df = df.na.drop(subset = ['audienceScore', 'tomatoMeter', 'releaseDateTheaters'])

In [12]:
cleaned_df.show()

+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+
|                  id|               title|audienceScore|tomatoMeter|rating|      ratingContents|releaseDateTheaters|releaseDateStreaming|runtimeMinutes|               genre|    originalLanguage|            director|              writer|boxOffice|         distributor|            soundMix|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+
|         adrift_2018|              Adrift|           65|         69| PG-13|['Injury Images',...|         2018-06-01|          2018-08-21|           120|Adventure, Drama,...|             English|   Baltasar Kormákur|Aaron Kandell,Jor...|   $31.4M|           STX Films|                NULL|
|1035316-born_to_kill|        Born to Kill|           74|         83|  NULL|                NULL|         1947-04-30|          2016-05-23|            92|        Crime, Drama|             English|         Robert Wise|Eve Greene,Richar...|     NULL|                NULL|                NULL|
|         1221483-paa|                 Paa|           67|         50|  NULL|                NULL|         2009-12-04|                NULL|           133|               Drama|               Hindi|            R. Balki|            R. Balki|  $199.2K|        Big Pictures|                NULL|
|sarah_palin_you_b...|Sarah Palin: You ...|           61|         32|  NULL|                NULL|         2011-09-30|          2017-03-08|            90|         Documentary|             English|Nick Broomfield,J...|                NULL|   $10.5K| Freestyle Releasing|                NULL|
|a_state_of_mind_2005|     A State of Mind|           92|         89|  NULL|                NULL|         2005-08-10|          2007-06-11|            93|         Documentary|              Korean|       Daniel Gordon|                NULL|   $41.5K|       Kino Pictures|                NULL|
|        gun_shy_2017|               Salty|           38|          0|     R|['Some Sexual Con...|         2017-09-08|          2017-11-07|            86|      Comedy, Action|English (United K...|          Simon West|Toby Davies,Mark ...|     NULL|         Saban Films|                NULL|
|         johnny_cool|         Johnny Cool|           44|         50|  NULL|                NULL|         1963-10-02|          2011-06-27|           103|        Crime, Drama|             English|       William Asher|                NULL|     NULL|                NULL|                NULL|
|        race_the_sun|        Race the Sun|           41|         22|  NULL|                NULL|         1996-03-22|          2002-04-30|            99|               Drama|             English| Charles T. Kanganis|                NULL|    $1.7M|                NULL|            Surround|
| paul_blart_mall_cop|Paul Blart: Mall Cop|           43|         34|    PG|['Mild Crude Humo...|         2009-01-16|          2009-05-19|            91|              Comedy|             English|          Steve Carr|Kevin James,Nick ...|  $146.3M|Sony Pictures Ent...|                NULL|
|not_without_my_da...|Not Without My Da...|           71|         53|  NULL|                NULL|         1991-01-11|          2001-10-02|           110|               Drama|             English|       Brian Gilbert|Betty Mahmoody,Wi...|   $14.0M|                NULL|            Surround|
|     monsoon_wedding|     Monsoon Wedding|           87|         95|     R|['Some Sex Relate...|         2002-02-22|          2002-09-24|           100|       Comedy, Drama|             English|           Mira Nair|      Sabrina Dhawan|   $13.9M|           USA Films|Dolby Stereo, Dol...|
|         violet_2017|              Violet|           56|         85|  NULL|                NULL|         2017-05-12|          2018-11-17|            82|               Drama|               Dutch|           Bas Devos|           Bas Devos|     NULL|Ryan Bruce Levey ...|                NULL|
|small_town_wisconsin|Small Town Wisconsin|           88|         83|  NULL|                NULL|         2022-06-03|          2022-06-10|           109|       Comedy, Drama|             English|       Niels Mueller|        Jason Naczek|     NULL| Quiver Distribution|                NULL|
|the_100_year_old_...|The 100-Year-Old ...|           69|         68|     R|['Some Violence',...|         2015-05-01|          2015-08-18|           114|   Comedy, Adventure|             Swedish|      Felix Herngren|Felix Herngren,Ha...|  $923.9K|     Music Box Films|                NULL|
|  rookie_of_the_year|  Rookie of the Year|           52|         38|  NULL|                NULL|         1993-07-07|          2002-01-29|           103|Kids & family, Co...|             English|        Daniel Stern|          Sam Harper|   $53.1M|    20th Century Fox|                NULL|
|       playback_2011|            Playback|           76|          0|     R|['Some Teen Party...|         2012-03-09|          2012-05-08|            98|Horror, Mystery &...|             English|  Michael A. Nickles|  Michael A. Nickles|     $252|   Magnolia Pictures|                NULL|
|the_man_who_kille...|The Man Who Kille...|           60|         66|  NULL|                NULL|         2019-04-10|          2019-04-19|           133|   Comedy, Adventure|             English|       Terry Gilliam|Terry Gilliam,Ton...|  $392.0K|  Screen Media Films| SDDS, Dolby Digital|
|      endless_poetry|      Endless Poetry|           80|         93|  NULL|                NULL|         2017-07-14|          2017-11-19|           128|           Biography|             Spanish|Alejandro Jodorowsky|Alejandro Jodorowsky|   $64.0K|    ABKCO Films Inc.|                NULL|
|   uzumasa_limelight|   Uzumasa Limelight|           88|         91|  NULL|                NULL|         2014-12-05|          2016-08-10|           103|       Drama, Action|            Japanese|          Ken Ochiai|        Hiroyuki Ono|     NULL|         Eleven Arts|                NULL|
|        freeze-frame|        Freeze Frame|           60|         71|     R|['Language', 'Str...|         2004-06-18|          2005-01-18|           100|  Mystery & thriller|             English|        John Simpson|        John Simpson|     NULL|          First Look|Surround, Dolby D...|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+
only showing top 20 rows

In [13]:
#method 2
clean_df = df.dropna(subset = ['audienceScore', 'tomatoMeter', 'releaseDateTheaters'])

In [14]:
clean_df.show()

+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+
|                  id|               title|audienceScore|tomatoMeter|rating|      ratingContents|releaseDateTheaters|releaseDateStreaming|runtimeMinutes|               genre|    originalLanguage|            director|              writer|boxOffice|         distributor|            soundMix|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+
|         adrift_2018|              Adrift|           65|         69| PG-13|['Injury Images',...|         2018-06-01|          2018-08-21|           120|Adventure, Drama,...|             English|   Baltasar Kormákur|Aaron Kandell,Jor...|   $31.4M|           STX Films|                NULL|
|1035316-born_to_kill|        Born to Kill|           74|         83|  NULL|                NULL|         1947-04-30|          2016-05-23|            92|        Crime, Drama|             English|         Robert Wise|Eve Greene,Richar...|     NULL|                NULL|                NULL|
|         1221483-paa|                 Paa|           67|         50|  NULL|                NULL|         2009-12-04|                NULL|           133|               Drama|               Hindi|            R. Balki|            R. Balki|  $199.2K|        Big Pictures|                NULL|
|sarah_palin_you_b...|Sarah Palin: You ...|           61|         32|  NULL|                NULL|         2011-09-30|          2017-03-08|            90|         Documentary|             English|Nick Broomfield,J...|                NULL|   $10.5K| Freestyle Releasing|                NULL|
|a_state_of_mind_2005|     A State of Mind|           92|         89|  NULL|                NULL|         2005-08-10|          2007-06-11|            93|         Documentary|              Korean|       Daniel Gordon|                NULL|   $41.5K|       Kino Pictures|                NULL|
|        gun_shy_2017|               Salty|           38|          0|     R|['Some Sexual Con...|         2017-09-08|          2017-11-07|            86|      Comedy, Action|English (United K...|          Simon West|Toby Davies,Mark ...|     NULL|         Saban Films|                NULL|
|         johnny_cool|         Johnny Cool|           44|         50|  NULL|                NULL|         1963-10-02|          2011-06-27|           103|        Crime, Drama|             English|       William Asher|                NULL|     NULL|                NULL|                NULL|
|        race_the_sun|        Race the Sun|           41|         22|  NULL|                NULL|         1996-03-22|          2002-04-30|            99|               Drama|             English| Charles T. Kanganis|                NULL|    $1.7M|                NULL|            Surround|
| paul_blart_mall_cop|Paul Blart: Mall Cop|           43|         34|    PG|['Mild Crude Humo...|         2009-01-16|          2009-05-19|            91|              Comedy|             English|          Steve Carr|Kevin James,Nick ...|  $146.3M|Sony Pictures Ent...|                NULL|
|not_without_my_da...|Not Without My Da...|           71|         53|  NULL|                NULL|         1991-01-11|          2001-10-02|           110|               Drama|             English|       Brian Gilbert|Betty Mahmoody,Wi...|   $14.0M|                NULL|            Surround|
|     monsoon_wedding|     Monsoon Wedding|           87|         95|     R|['Some Sex Relate...|         2002-02-22|          2002-09-24|           100|       Comedy, Drama|             English|           Mira Nair|      Sabrina Dhawan|   $13.9M|           USA Films|Dolby Stereo, Dol...|
|         violet_2017|              Violet|           56|         85|  NULL|                NULL|         2017-05-12|          2018-11-17|            82|               Drama|               Dutch|           Bas Devos|           Bas Devos|     NULL|Ryan Bruce Levey ...|                NULL|
|small_town_wisconsin|Small Town Wisconsin|           88|         83|  NULL|                NULL|         2022-06-03|          2022-06-10|           109|       Comedy, Drama|             English|       Niels Mueller|        Jason Naczek|     NULL| Quiver Distribution|                NULL|
|the_100_year_old_...|The 100-Year-Old ...|           69|         68|     R|['Some Violence',...|         2015-05-01|          2015-08-18|           114|   Comedy, Adventure|             Swedish|      Felix Herngren|Felix Herngren,Ha...|  $923.9K|     Music Box Films|                NULL|
|  rookie_of_the_year|  Rookie of the Year|           52|         38|  NULL|                NULL|         1993-07-07|          2002-01-29|           103|Kids & family, Co...|             English|        Daniel Stern|          Sam Harper|   $53.1M|    20th Century Fox|                NULL|
|       playback_2011|            Playback|           76|          0|     R|['Some Teen Party...|         2012-03-09|          2012-05-08|            98|Horror, Mystery &...|             English|  Michael A. Nickles|  Michael A. Nickles|     $252|   Magnolia Pictures|                NULL|
|the_man_who_kille...|The Man Who Kille...|           60|         66|  NULL|                NULL|         2019-04-10|          2019-04-19|           133|   Comedy, Adventure|             English|       Terry Gilliam|Terry Gilliam,Ton...|  $392.0K|  Screen Media Films| SDDS, Dolby Digital|
|      endless_poetry|      Endless Poetry|           80|         93|  NULL|                NULL|         2017-07-14|          2017-11-19|           128|           Biography|             Spanish|Alejandro Jodorowsky|Alejandro Jodorowsky|   $64.0K|    ABKCO Films Inc.|                NULL|
|   uzumasa_limelight|   Uzumasa Limelight|           88|         91|  NULL|                NULL|         2014-12-05|          2016-08-10|           103|       Drama, Action|            Japanese|          Ken Ochiai|        Hiroyuki Ono|     NULL|         Eleven Arts|                NULL|
|        freeze-frame|        Freeze Frame|           60|         71|     R|['Language', 'Str...|         2004-06-18|          2005-01-18|           100|  Mystery & thriller|             English|        John Simpson|        John Simpson|     NULL|          First Look|Surround, Dolby D...|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+
only showing top 20 rows

### Processing:
Year: Create a year column by parsing the year from the releaseDateTheaters column.

In [15]:
clean_df.select(F.col('releaseDateTheaters')).show()

+-------------------+
|releaseDateTheaters|
+-------------------+
|         2018-06-01|
|         1947-04-30|
|         2009-12-04|
|         2011-09-30|
|         2005-08-10|
|         2017-09-08|
|         1963-10-02|
|         1996-03-22|
|         2009-01-16|
|         1991-01-11|
|         2002-02-22|
|         2017-05-12|
|         2022-06-03|
|         2015-05-01|
|         1993-07-07|
|         2012-03-09|
|         2019-04-10|
|         2017-07-14|
|         2014-12-05|
|         2004-06-18|
+-------------------+
only showing top 20 rows

In [16]:
df_new = clean_df.withColumn('year', F.year(df['releaseDateTheaters']))

In [17]:
df_new.show()

+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+----+
|                  id|               title|audienceScore|tomatoMeter|rating|      ratingContents|releaseDateTheaters|releaseDateStreaming|runtimeMinutes|               genre|    originalLanguage|            director|              writer|boxOffice|         distributor|            soundMix|year|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+----+
|         adrift_2018|              Adrift|           65|         69| PG-13|['Injury Images',...|         2018-06-01|          2018-08-21|           120|Adventure, Drama,...|             English|   Baltasar Kormákur|Aaron Kandell,Jor...|   $31.4M|           STX Films|                NULL|2018|
|1035316-born_to_kill|        Born to Kill|           74|         83|  NULL|                NULL|         1947-04-30|          2016-05-23|            92|        Crime, Drama|             English|         Robert Wise|Eve Greene,Richar...|     NULL|                NULL|                NULL|1947|
|         1221483-paa|                 Paa|           67|         50|  NULL|                NULL|         2009-12-04|                NULL|           133|               Drama|               Hindi|            R. Balki|            R. Balki|  $199.2K|        Big Pictures|                NULL|2009|
|sarah_palin_you_b...|Sarah Palin: You ...|           61|         32|  NULL|                NULL|         2011-09-30|          2017-03-08|            90|         Documentary|             English|Nick Broomfield,J...|                NULL|   $10.5K| Freestyle Releasing|                NULL|2011|
|a_state_of_mind_2005|     A State of Mind|           92|         89|  NULL|                NULL|         2005-08-10|          2007-06-11|            93|         Documentary|              Korean|       Daniel Gordon|                NULL|   $41.5K|       Kino Pictures|                NULL|2005|
|        gun_shy_2017|               Salty|           38|          0|     R|['Some Sexual Con...|         2017-09-08|          2017-11-07|            86|      Comedy, Action|English (United K...|          Simon West|Toby Davies,Mark ...|     NULL|         Saban Films|                NULL|2017|
|         johnny_cool|         Johnny Cool|           44|         50|  NULL|                NULL|         1963-10-02|          2011-06-27|           103|        Crime, Drama|             English|       William Asher|                NULL|     NULL|                NULL|                NULL|1963|
|        race_the_sun|        Race the Sun|           41|         22|  NULL|                NULL|         1996-03-22|          2002-04-30|            99|               Drama|             English| Charles T. Kanganis|                NULL|    $1.7M|                NULL|            Surround|1996|
| paul_blart_mall_cop|Paul Blart: Mall Cop|           43|         34|    PG|['Mild Crude Humo...|         2009-01-16|          2009-05-19|            91|              Comedy|             English|          Steve Carr|Kevin James,Nick ...|  $146.3M|Sony Pictures Ent...|                NULL|2009|
|not_without_my_da...|Not Without My Da...|           71|         53|  NULL|                NULL|         1991-01-11|          2001-10-02|           110|               Drama|             English|       Brian Gilbert|Betty Mahmoody,Wi...|   $14.0M|                NULL|            Surround|1991|
|     monsoon_wedding|     Monsoon Wedding|           87|         95|     R|['Some Sex Relate...|         2002-02-22|          2002-09-24|           100|       Comedy, Drama|             English|           Mira Nair|      Sabrina Dhawan|   $13.9M|           USA Films|Dolby Stereo, Dol...|2002|
|         violet_2017|              Violet|           56|         85|  NULL|                NULL|         2017-05-12|          2018-11-17|            82|               Drama|               Dutch|           Bas Devos|           Bas Devos|     NULL|Ryan Bruce Levey ...|                NULL|2017|
|small_town_wisconsin|Small Town Wisconsin|           88|         83|  NULL|                NULL|         2022-06-03|          2022-06-10|           109|       Comedy, Drama|             English|       Niels Mueller|        Jason Naczek|     NULL| Quiver Distribution|                NULL|2022|
|the_100_year_old_...|The 100-Year-Old ...|           69|         68|     R|['Some Violence',...|         2015-05-01|          2015-08-18|           114|   Comedy, Adventure|             Swedish|      Felix Herngren|Felix Herngren,Ha...|  $923.9K|     Music Box Films|                NULL|2015|
|  rookie_of_the_year|  Rookie of the Year|           52|         38|  NULL|                NULL|         1993-07-07|          2002-01-29|           103|Kids & family, Co...|             English|        Daniel Stern|          Sam Harper|   $53.1M|    20th Century Fox|                NULL|1993|
|       playback_2011|            Playback|           76|          0|     R|['Some Teen Party...|         2012-03-09|          2012-05-08|            98|Horror, Mystery &...|             English|  Michael A. Nickles|  Michael A. Nickles|     $252|   Magnolia Pictures|                NULL|2012|
|the_man_who_kille...|The Man Who Kille...|           60|         66|  NULL|                NULL|         2019-04-10|          2019-04-19|           133|   Comedy, Adventure|             English|       Terry Gilliam|Terry Gilliam,Ton...|  $392.0K|  Screen Media Films| SDDS, Dolby Digital|2019|
|      endless_poetry|      Endless Poetry|           80|         93|  NULL|                NULL|         2017-07-14|          2017-11-19|           128|           Biography|             Spanish|Alejandro Jodorowsky|Alejandro Jodorowsky|   $64.0K|    ABKCO Films Inc.|                NULL|2017|
|   uzumasa_limelight|   Uzumasa Limelight|           88|         91|  NULL|                NULL|         2014-12-05|          2016-08-10|           103|       Drama, Action|            Japanese|          Ken Ochiai|        Hiroyuki Ono|     NULL|         Eleven Arts|                NULL|2014|
|        freeze-frame|        Freeze Frame|           60|         71|     R|['Language', 'Str...|         2004-06-18|          2005-01-18|           100|  Mystery & thriller|             English|        John Simpson|        John Simpson|     NULL|          First Look|Surround, Dolby D...|2004|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+----+
only showing top 20 rows

Top Movies: Find the top 500 movies based on Tomatometer score using functions like orderBy and limit.

In [18]:
df_top5000 = df_new.orderBy(F.desc('tomatoMeter')).limit(5000)

In [19]:
df_top5000.show()

+--------------------+--------------------+-------------+-----------+------+--------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-----------+----+
|                  id|               title|audienceScore|tomatoMeter|rating|ratingContents|releaseDateTheaters|releaseDateStreaming|runtimeMinutes|               genre|    originalLanguage|            director|              writer|boxOffice|         distributor|   soundMix|year|
+--------------------+--------------------+-------------+-----------+------+--------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-----------+----+
|     the_human_trial|     The Human Trial|           99|        100|  NULL|          NULL|         2022-06-24|          2022-06-24|            91|         Documentary|             English|Lisa Hepner,Guy M...|         Lisa Hepner|     NULL|          Abramorama|       NULL|2022|
|   the_monkey_king_2|   The Monkey King 2|           52|        100|  NULL|          NULL|         2016-02-05|          2017-01-03|           119|Fantasy, Adventur...|             Chinese|      Pou-Soi Cheang|                NULL|  $709.6K|China Lion Film D...|Dolby Atmos|2016|
|1197811-ballet_shoes|        Ballet Shoes|           66|        100|    PG|   ['Smoking']|         2008-08-26|          2008-09-02|            90|               Drama|             English|   Sandra Goldbacher|        Heidi Thomas|     NULL|Screenvision, Koc...|       NULL|2008|
|         blue_dahlia|     The Blue Dahlia|           71|        100|  NULL|          NULL|         1946-04-18|          2014-11-04|            96|        Crime, Drama|             English|     George Marshall|    Raymond Chandler|     NULL|  Paramount Pictures|       Mono|1946|
|  singin_in_the_rain| Singin' in the Rain|           95|        100|  NULL|          NULL|         1952-04-10|          2002-09-24|           102|     Musical, Comedy|             English|Stanley Donen,Gen...|Betty Comden,Adol...|   $23.9K| Metro-Goldwyn-Mayer|       Mono|1952|
|this_much_i_know_...|This Much I Know ...|           96|        100|  NULL|          NULL|         2022-05-11|                NULL|           105|  Documentary, Music|English (United K...|      Andrew Dominik|                NULL|     NULL| Trafalgar Releasing|       NULL|2022|
|             pitfall|             Pitfall|           67|        100|  NULL|          NULL|         1948-08-24|          2012-11-20|            84|               Drama|             English|       Andre de Toth|           Karl Kamb|     NULL|      United Artists|       NULL|1948|
|the_sunshine_make...| The Sunshine Makers|           74|        100|  NULL|          NULL|         2017-01-20|          2017-02-02|            90|         Documentary|English (United K...|Cosmo Feilding-Me...|Cosmo Feilding-Me...|    $9.9K|            FilmRise|       NULL|2017|
|             mclibel|             McLibel|           69|        100|  NULL|          NULL|         2005-04-09|          2010-09-14|            84|         Documentary|English (United K...|    Franny Armstrong|                NULL|    $4.3K|                NULL|       NULL|2005|
|the_waiting_room_...|    The Waiting Room|           76|        100|  NULL|          NULL|         2012-09-26|          2013-10-22|            81|         Documentary|             English|         Peter Nicks|                NULL|  $244.1K|International Fil...|       NULL|2012|
|when_father_was_a...|When Father Was A...|           91|        100|  NULL|          NULL|         1985-10-11|          2005-05-24|           145|       Comedy, Drama|           Hungarian|      Emir Kusturica|                NULL|     NULL|Cannon Film Distr...|       NULL|1985|
|              ju_dou|              Ju Dou|           88|        100|  NULL|          NULL|         1990-03-06|          2007-07-02|            98|               Drama|             Chinese|         Yimou Zhang|                NULL|   $10.3K|       Miramax Films|   Surround|1990|
|    say_your_prayers|    Say Your Prayers|           47|        100|  NULL|          NULL|         2021-04-02|          2021-04-02|            84|              Comedy|English (United K...|       Harry Michell|Jamie Fraser,Harr...|     NULL|   Gravitas Ventures|       NULL|2021|
|           los_reyes|           Los Reyes|           67|        100|  NULL|          NULL|         2019-08-14|          2020-06-30|            78|         Documentary|             Spanish|Iván Osnovikoff,B...|                NULL|     NULL|    Grasshopper Film|       NULL|2019|
|sometimes_a_great...|Sometimes a Great...|           77|        100|  NULL|          NULL|         1972-01-19|          2011-01-31|           114|               Drama|             English|         Paul Newman|            John Gay|     NULL|  Universal Pictures|     Stereo|1972|
|the_man_from_plan...|The Man From Plan...|           38|        100|  NULL|          NULL|         1951-04-27|          2001-02-20|            70|              Sci-fi|             English|      Edgar G. Ulmer|Aubrey Wisberg,Ja...|     NULL|      United Artists|       Mono|1951|
|         at_the_fork|         At the Fork|           75|        100|  NULL|          NULL|         2016-07-13|          2016-12-29|            89|         Documentary|             English|         John Papola|Cristina Colissim...|     NULL|      Emergent Order|       NULL|2016|
|          con-artist|          Con Artist|           86|        100|  NULL|          NULL|         2010-11-12|          2011-06-14|            84|         Documentary|             English|      Michael Sladek|                NULL|     NULL|                NULL|       NULL|2010|
|      lacombe_lucien|     Lacombe, Lucien|           85|        100|  NULL|          NULL|         1974-01-30|          2006-03-28|           135|               Drama|     French (Canada)|         Louis Malle|Louis Malle,Patri...|     NULL|                NULL|       NULL|1974|
|             tampopo|             Tampopo|           93|        100|  NULL|          NULL|         1986-09-01|          2017-04-25|           114|              Comedy|            Japanese|          Juzo Itami|          Juzo Itami|  $224.1K|    New Yorker Films|      Dolby|1986|
+--------------------+--------------------+-------------+-----------+------+--------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-----------+----+
only showing top 20 rows

### Save as Parquet: 
Save the cleaned and processed data as a Parquet file for efficient loading into Pandas or Power BI. PySpark offers Parquet data support

In [20]:
df_top5000.write.parquet('top5000_movies.parquet', mode='overwrite')

In [21]:
df_top5000.write.csv('top5000_movies.csv', mode='overwrite')

### Converting to pandas df

In [22]:
pandas_df =df_top5000.toPandas()

In [23]:
pandas_df.to_csv('top5000_movies_pandas.csv', index = False)

### Extended Challenges

In [24]:
# df_bo= df_top5000.select(F.translate(F.col('boxOffice'), '[$]', '').alias('BoxOffice'))
# df_bo.show()