In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_parquet(r'C:\Users\bsila\Dexian_Bootcamp\code\DataPyLabExercise\PySpark_Labs\Tomatometer\top500_movies.parquet')

In [6]:
df.head()

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix,year
0,may_fools,May Fools,76,100,None,None,1990-01-24,None,105.0,"Comedy, Drama",English,Louis Malle,None,$20.1K,None,None,1990
1,tom_dick_and_harry,"Tom, Dick and Harry",46,100,None,None,1931-06-13,2009-07-21,86.0,"Comedy, Drama",English,Garson Kanin,None,None,RKO Radio Pictures,None,1931
2,dance_academy_the_comeback,Dance Academy: The Movie,80,100,None,None,2018-03-02,2018-04-03,101.0,Drama,English,Jeffrey Walker,Samantha Strauss,None,Cinedigm,None,2018
3,berkeley_in_the_sixties,Berkeley in the Sixties,76,100,None,None,1990-01-01,2002-12-10,117.0,Documentary,English,Mark Kitchell,Mark Kitchell,None,"First Run, California Newsreel",None,1990
4,love_and_death,Love and Death,90,100,None,None,1975-06-10,2000-07-05,85.0,Comedy,English,Woody Allen,Woody Allen,None,None,None,1975

Convert: Convert boxOffice to a number. Take into account that the string format includes a suffix such as "K", "M", "B", etc.

In [7]:
df['boxOffice'].unique()

array(['$20.1K', None, '$70.8K', '$933.4K', '$41.0K', '$321.6K', '$50.1K',
       '$11.6K', '$12.8K', '$23.9K', '$2.4M', '$5.6K', '$4.0K', '$922.6K',
       '$39.9K', '$808.5K', '$8.3K', '$265.3K', '$45.4K', '$67.6K',
       '$56.9K', '$24.0K', '$24.1K', '$370.2K', '$79.0K', '$35.6K',
       '$987.8K', '$130.1K', '$30.1K', '$2.1M', '$12.0K', '$36.0K',
       '$6.0M', '$101.5K', '$42.0K', '$27.5K', '$1.5M', '$59.4K', '$3.0M',
       '$22.2K', '$26.6K', '$15.7M', '$134.7K', '$11.5K', '$15.1K',
       '$544.8K', '$390', '$1.1K', '$71.5K', '$22.9K', '$7.8K', '$39.4K',
       '$43.2K', '$21.7K', '$823.6K', '$3.3K', '$71.7K', '$143.6K',
       '$21.6K', '$2.9K', '$114.3K', '$285.8K', '$500.8K', '$44.3K',
       '$21.9K', '$8.2K', '$5.9K', '$2.6M', '$18.7M', '$13.0K', '$670.9K',
       '$234.2K', '$10.1K', '$130.3K', '$795.3K', '$75.8K', '$20.8K',
       '$7.3K', '$495.3K', '$55.6K', '$25.1K', '$2.9M', '$6.2K',
       '$681.1K', '$13.3K', '$3.2K', '$50.5K', '$5.0K', '$8.5K', '$7.0K',
       '$9.9K', '$23.8K', '$224.1K', '$187.7K', '$25.8K', '$258.4K',
       '$121.5K', '$10.3K', '$709.6K', '$244.1K'], dtype=object)

In [9]:
df['boxOffice'].dtype

dtype('O')

In [18]:
for i in df['boxOffice']:
    print(i[-1])

1

TypeError: 'NoneType' object is not subscriptable

In [17]:
for i in df['boxOffice']:
    if i[-1] == 'K':
        value = i[:-1]*1000
        df['boxOffice'] = df['boxOffice'].replace({i : value})
    elif i[-1] == 'M':
        value = i[:-1]*1000000
        df['boxOffice'] = df['boxOffice'].replace({i : value})
    elif i[-1] == 'B':
        value = i[:-1]*1000000000
        df['boxOffice'] = df['boxOffice'].replace({i : value})
    else:
        continue

TypeError: 'NoneType' object is not subscriptable