In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('wikimedia_combined.csv')

In [3]:
df.head()

,timestamp,bot,minor,user,old_length,new_length,domain,length_diff,length_diff_percent
0,1.719348e+09,False,False,Sa~eswiki,1411.0,1381.0,ext.wikipedia.org,-30.0,-2.126152
1,1.719348e+09,True,False,SchlurcherBot,4282.0,6236.0,commons.wikimedia.org,1954.0,45.632882
2,1.719348e+09,False,NaN,Eien20,NaN,NaN,commons.wikimedia.org,NaN,NaN
3,1.719348e+09,False,NaN,Eien20,NaN,NaN,commons.wikimedia.org,NaN,NaN
4,1.719348e+09,False,NaN,Eien20,NaN,NaN,commons.wikimedia.org,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135488 entries, 0 to 135487
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   timestamp            135142 non-null  float64
 1   bot                  135142 non-null  object
 2   minor                91044 non-null   object
 3   user                 135139 non-null  object
 4   old_length           87109 non-null   float64
 5   new_length           91042 non-null   float64
 6   domain               135159 non-null  object
 7   length_diff          87109 non-null   float64
 8   length_diff_percent  87071 non-null   float64
dtypes: float64(5), object(4)
memory usage: 9.3+ MB

In [5]:
df.isna().sum()

timestamp                346
bot                      346
minor                  44444
user                     349
old_length             48379
new_length             44446
domain                   329
length_diff            48379
length_diff_percent    48417
dtype: int64

In [6]:
cleaned_df = df.dropna()

In [7]:
cleaned_df.duplicated().sum()

677

In [8]:
cleaned_df = cleaned_df.drop_duplicates()

In [9]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86393 entries, 0 to 135486
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp            86393 non-null  float64
 1   bot                  86393 non-null  object
 2   minor                86393 non-null  object
 3   user                 86393 non-null  object
 4   old_length           86393 non-null  float64
 5   new_length           86393 non-null  float64
 6   domain               86393 non-null  object
 7   length_diff          86393 non-null  float64
 8   length_diff_percent  86393 non-null  float64
dtypes: float64(5), object(4)
memory usage: 6.6+ MB

In [10]:
cleaned_df.describe()

,timestamp,old_length,new_length,length_diff,length_diff_percent
count,8.639300e+04,8.639300e+04,8.639300e+04,86393.000000,8.639300e+04
mean,1.719349e+09,2.137777e+04,2.173614e+04,358.364115,4.956101e+01
std,1.137748e+03,3.917755e+04,3.899558e+04,3665.404970,6.397180e+03
min,1.719346e+09,3.000000e+00,0.000000e+00,-703682.000000,-1.000000e+02
25%,1.719348e+09,4.090000e+03,4.990000e+03,4.000000,3.996803e-02
50%,1.719349e+09,9.382000e+03,9.778000e+03,83.000000,6.630639e-01
75%,1.719349e+09,2.608200e+04,2.620700e+04,385.000000,9.168993e+00
max,1.719351e+09,1.686958e+06,1.686910e+06,156875.000000,1.872762e+06

In [11]:
cleaned_df.to_csv('Cleaned_wikimedia_combined.csv', index = False)